@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,300&display=swap");

:root {
	--darker-color: 18, 24, 24;
	--lighter-color: 224, 225, 231;
	--primary-color: 52, 141, 219;
	--font-family: "Poppins", sans-serif;
	--font-size: 16px;
	--gap: 1rem;
    --mb: 1rem;
}

/*-------------------------------------reset*/
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-size: var(--font-size);
	font-family: var(--font-family);
	color: rgb(var(--darker-color));
}
img,
picture,
canvas,
video,
svg {
	display: block;
	max-width: 100%;
	max-height: 100vh;
}
a,
a:visited {
	text-decoration: none;
	color: rgb(var(--darker-color));
}
ul,
ol {
	list-style: inside;
	list-style-type: none;
}
button {
	cursor: pointer;
}
button,
input {
	background-color: transparent;
	outline: none;
	border: none;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.max{
    --mb: calc(var(--mb)*4);
}
.mb{
    margin-bottom: var(--mb);
}
form{
    width: 50%;
    padding: 4rem 2rem;
    background-color: rgb(var(--darker-color));
    color: rgb(var(--lighter-color));
}
.input input {
    border-bottom: 1px solid rgb(var(--lighter-color));  
}
.input input:focus{
    padding: .4rem 0 0 0;
    background-color: rgba(var(--lighter-color), .12);
    color: rgb(var(--lighter-color));
}
.input label{
    padding-right: .2rem
}
button{
    background-color: rgb(var(--primary-color));
    padding: .6rem 2.4rem;
    border-radius: .2rem;
    font-weight: 700;
}

